@use '../custom' as *;


.user-progess-setup{
    width: 100%;

    .progress-text{
        font-weight: lighter;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 6px;
    }
    
    .progress-percentage{
        font-weight: lighter;
    }
    
    .progress-part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 9px;
    
        .progress-bar{
            width: 25%;
            background: $my_purple_light;
        }
        .progress{
            width: 80%;
            height: 9px;
        }
    }
}

