@use 'custom' as *;

.navbar {
    padding: 6px 40px;
    background: $my_purple;
    display: flex;

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
      
      .navbar-toggler {
        border-color: white;
      } 
    
    .navbar-nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    a{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        margin: 0 20px;
        transition: color 200ms;

        &:hover{
            color: $progress_blue;
        }
    }

    .navbar-brand{
        img{
            width: 231px;
        }
    }
  }


  @media screen and (max-width: $phone) {
    .navbar-brand{
        img{
            width: 160px !important;
        }
    }
  }