@use 'custom' as *;


@use 'navbar';
@use 'newsletter-section';
@use 'footer';
@use 'components/userDropdown';
@use 'components/orangeButton';
@use 'components/orangeButtonOutline';
@use 'components/walletCardSmall';
@use 'components/referCard';
@use 'components/balanceCard';
@use 'components/progressSegment';


@use 'sections/welcome-section';
@use 'sections/wallet-section-home';
@use 'sections/crypto-currencies-section';



body{
    font-size: 16px;
    background: linear-gradient(176.64deg, #210248 8.68%, #620889 106.31%);
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}